<?xml version='1.0' encoding='utf-8'?>
<widget id="com.h4ckademy.camera.4" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>app_camara</name>
    <content src="index.html" />
    <access origin="*" />    
    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-camera"/>
</widget>
